.green_color{
    color: #6A983C;
}
.under_line{
    width: 100%;
    height: 1px;
    background-color: #d3cfcf;
    margin-top: 20px;

}
.vertical_line{
    width: 1px;
    height: 25px;
    background-color: #d3cfcf;
}
.btn{
    padding: 10px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 12px;
    font-weight: 700;
    margin-top: 20px;
}
.btn_recepie{
    padding: 10px;
    background: transparent;
    border: 2px solid #92C064;
    border-radius: 12px;
    font-weight: 700;
    margin-top: 80px;
}
.btn_btn{
    padding: 8px;
    border: 2px solid #46760A;
    background-color: #6A983C;
    border-radius: 12px;
    color: #fff;
    font-weight: 700;
}